<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recetario - Inicio</title>
    <link rel="stylesheet" href="../src/styles/header.css">
    <link rel="stylesheet" href="../src/styles/footer.css">
    <link rel="stylesheet" href="../src/styles/index.css">
</head>
<body>
    <header>
    </header>
<main>
    <div id="nombre-rec"></div>
    <div id="receta-del-dia"></div>
    <div id="login">
        <form id="loginForm" action="">
            <input type="text" name="username" id="username" placeholder="username">
            <input type="password" name="password" id="password">
            <button id="enviar">Login</button>
        </form>
    </div>
</main>
<footer>
</footer>
<script src="../scripts/hefo.js"></script>
<script src="../scripts/login.js"></script>
</body>
</html>