<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recetario</title>
    <link rel="stylesheet" href="../src/styles/header.css">
</head>
<body>
    <header>
        <div id="nav">
            <ul class="navbar">
                <li><a href="index.html"><img class="logo" src="../src/assets/imgs/logo.jpeg" alt="LOGO"></a></li>
                <li><a class="items" href="index.html">Inicio</a></li>
                <li><a class="items" href="">Recetas</a></li>
                <li><a class="items" href="">Acerca de mi</a></li>
                <li class="search-container"><a href=""><img class="search" src="../src/assets/imgs/search.svg" alt=""></li>
            </ul>
        </div>
    </header>
<main>
    <div class="receta-del-dia"></div>
</main>
</body>
</html>